/* Global */
body {
  background: #24353f;
  font-family: "Titillium Web", sans-serif;
  height: 75vh;
}
h1 {
  color: #17a2b8;
  font-size: 2.5rem;
}
.navbar {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.navbar-brand {
  cursor: pointer;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
}
.btn-outline-warning {
  --bs-btn-color: rgba(255, 255, 255, 0.5);
  --bs-btn-hover-color: rgba(255, 255, 255, 0.75);
  --bs-btn-active-color: #fff;
}

.user-info {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
