/* Global */
body {
  background: #24353f;
  font-family: "Titillium Web", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  color: #17a2b8;
}
p {
  color: white;
}
/* signup */
.signup-form {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.signup-form input {
  background-color: transparent !important;
  color: white !important ;
}
.signup-form ::placeholder {
  color: #ced4da;
}
.btn {
  --bs-btn-hover-color: #fff;
}
